[user]
	name = huarongzheng
[user]
	email = chauviner@hotmail.com
[credential]
    helper = cache --timeout=28800
[http]
    sslVerify = false
[diff]
    tool = meld 
#[difftool "kompare"]
#    cmd = kompare $LOCAL $REMOTE
[difftool]
    prompt = false
#[mergetool "kompare"]
#    cmd = kompare $LOCAL $REMOTE $BASE $MERGED
[mergetool]
    prompt = false
