[user]
	name = ronz
[user]
	email = ronz@nvidia.com
[credential]
	helper = store
[http]
    sslVerify = false
[diff]
#    tool = vimdiff
    tool = meld 
#    tool = bc 
[difftool "bc"]
	cmd = beyondcompare $LOCAL $REMOTE
[difftool "meld"]
	cmd = meld $LOCAL $REMOTE
[difftool]
    prompt = false
[mergetool "bc"]
    cmd = beyondcompare $LOCAL $REMOTE $BASE $MERGED
[mergetool]
    prompt = false

[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	pager = cat
